<h1 class="text-center mt-4">Log In</h1>

<div class="container">


    <div class="row justify-content-center">
    <div class="col-10">
    
    <%= form_with(scope: :session, url: login_path, class: "shadow p-3 mb-5 bg-light rounded", data: {turbo: false}) do |f| %>
        

        <div class="row mb-3">
            <%= f.label :email, class: "col-sm-2 col-form-label form-title-styles" %>
            <div class="col-sm-10">
            <%= f.email_field :email, class: "form-control shadow rounded", placeholder: "Enter your email" %>
            </div>
        </div>

        <div class="row mb-3">
            <%= f.label :password, class: "col-sm-2 col-form-label form-title-styles" %>
            <div class="col-sm-10">
            <%= f.password_field :password, class: "form-control shadow rounded", placeholder: "Enter your password" %>
            </div>
        </div>

        <div class=" d-grid gap-2 d-md-flex justify-content-md-center">
            <%= f.submit "Log in" , class: "btn btn-outline-secondary" %>
        </div>
        </div>
    <% end %>

    <%= link_to '[ Cancel and return to articles listing ]', articles_path, class: "text-dark text-center" %>
    </div>

</div>